:root {
    // Цвета
    --primary-color: #006aff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #e10a0a;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --white-color: #fff;
    --black-color: #000;
    --background-color: #f3f3f3;

    // Шрифты
    --font-family-sans-serif: 'Jost', sans-serif;
    --font-size-base: 16px;
    --font-colot: #222;

    // Размеры
    --spacing-base: 1rem;
    --container-max-width: 1200px;
    --header-height: 80px;

    // Границы и отступы
    --border-radius-base: 0.25rem;
    --border-width: 1px;
    --padding-base-vertical: --spacing-base / 2;
    --padding-base-horizontal: --spacing-base;
}
