@keyframes sheen {
    100% {
        -webkit-transform: rotateZ(60deg) translate(0, -14em);
        transform: rotateZ(60deg) translate(0, -14em);
    }
}

@keyframes flyup {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* Mouse Scroll Icon Animation */
$colorBg: #f3f3f3;
$colorOutline: #006aff;
$colorOutlineFade: #dbdbdb;

$widthMouse: 42px;
$heightMouse: 68px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 10px;
$posTrackball: 20px;
$shrinkTrackball: 0.4;

$animDuration: 5s;

@mixin bgGradient {
    background:
        $colorOutlineFade linear-gradient(transparent 0%,
            transparent 50%,
            $colorOutline 50%,
            $colorOutline 100%);
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background-color: $colorOutlineFade;
    }

    29.99% {
        background-color: $colorOutline;
        background-position: 0% 0%;
    }

    30% {
        background-color: $colorOutlineFade;
        background-position: 0% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    51% {
        background-color: $colorOutlineFade;
    }

    59% {
        background-color: $colorOutline;
        background-position: 0% 0%;
    }

    60% {
        background-color: $colorOutlineFade;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background-color: $colorOutlineFade;
    }

    90%,
    100% {
        background-color: $colorOutline;
    }
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    6% {
        opacity: 1;
        transform: scale(0.9) translateY(calc($posTrackball/4));
    }

    14% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }

    15%,
    19% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }

    28%,
    29.99% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    30% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    36% {
        opacity: 1;
        transform: scale(0.9) translateY(calc($posTrackball/4));
    }

    44% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }

    45%,
    49% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }

    58%,
    59.99% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    60% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    66% {
        opacity: 1;
        transform: scale(0.9) translateY(calc($posTrackball/4));
    }

    74% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }

    75%,
    79% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }

    88%,
    100% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }
}

@keyframes nudgeMouse {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY($posMouse);
    }

    30% {
        transform: translateY(0);
    }

    50% {
        transform: translateY($posMouse);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY($posMouse);
    }

    90% {
        transform: translateY(0);
    }
}

@keyframes nudgeText {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY($posText);
    }

    30% {
        transform: translateY(0);
    }

    50% {
        transform: translateY($posText);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY($posText);
    }

    90% {
        transform: translateY(0);
    }
}

@keyframes colorText {
    21% {
        color: $colorOutlineFade;
    }

    30% {
        color: $colorOutline;
    }

    51% {
        color: $colorOutlineFade;
    }

    60% {
        color: $colorOutline;
    }

    81% {
        color: $colorOutlineFade;
    }

    90% {
        color: $colorOutline;
    }
}
