@import '../../node_modules/modern-normalize/modern-normalize.css';

@import './variables';

@import 'mixins/query';

@import './animations';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap');

html,
body,
#app,
.content {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--body-bg);
    font-family: 'Jost', sans-serif;
    font-size: px-to-rem(16);
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Stamp */
.stamp {
    transform: rotate(12deg);
    color: #555;
    font-size: px-to-rem(30);
    font-weight: 700;
    border: px-to-rem(16) solid #555;
    display: inline-block;
    padding: px-to-rem(8) px-to-rem(30);
    text-transform: uppercase;
    text-align: center;
    border-radius: px-to-rem(16);
    font-family: 'Courier';
    mask-size: 944px 604px;
    mix-blend-mode: multiply;
}

.is_approved {
    color: #ff0000;
    border: px-to-rem(8) solid #ff0000;
    mask-position: 13rem 6rem;
    transform: rotate(-8deg);
    border-radius: 0;
}

/* Hero block */
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #ebf1ff 0%, #F3F3F3 100%);

    &__wrapper {
        position: relative;
        width: 100%;
        min-height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: px-to-rem(50);

        @include _768 {
            padding: px-to-rem(16);
            justify-content: center;
        }
    }

    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: 55% 45%;
        margin-bottom: px-to-rem(50);

        @include _768 {
            grid-template-columns: 1fr;
        }
    }

    &__info {
        width: 100%;
        max-width: px-to-rem(400);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #222;

        &__block {
            margin-bottom: px-to-rem(30);
        }

        &__wrapper {
            position: relative;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 0 px-to-rem(15);
            z-index: 10;

            @include _768 {
                padding: 0;
                text-align: center;
            }
        }

        &__item {
            margin-bottom: px-to-rem(10);
            font-size: px-to-rem(20);
            line-height: 1.4;

            @include _768 {
                font-size: px-to-rem(16);
            }

            span {
                font-weight: 700;

                &.text_big {
                    font-size: px-to-rem(40);

                    @include _768 {
                        font-size: px-to-rem(32);
                    }
                }

                &.text_middle {
                    font-size: px-to-rem(30);
                }

                &.text_action {
                    color: #e6332a;
                }

                &.text_blue {
                    color: #024097;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__image {
        width: 100%;
        z-index: 10;

        @include _768 {
            display: none;
            text-align: center;
        }

        img {
            width: 100%;

            @include _768 {
                width: auto;
                height: 100%;
            }
        }
    }

    &__image__layer {
        position: absolute;
        top: px-to-rem(80);
        left: 0;
        width: 100%;
        height: calc(100vh - px-to-rem(80));
        display: flex;
    }

    &__frame {
        width: 100%;
        max-width: px-to-rem(1200);
        padding: 0 px-to-rem(15);
        margin: 0 auto;

        img {
            width: 100%;
            max-width: 700px;
        }
    }

    &__bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
            line-height: 1.4;
            margin-bottom: px-to-rem(20);
        }
    }
}

.more__wrapper {
    width: 100%;
    display: flex;
    justify-content: start;

    @include _768 {
        justify-content: center;
    }
}

.more__btn {
    position: relative;
    border: 0;
    display: inline-block;
    text-align: center;
    border-radius: px-to-rem(15);
    background: #006aff;
    color: #fff;
    padding: px-to-rem(20) px-to-rem(50);
    text-decoration: none;
    overflow: hidden;
    transition: all ease 0.3s;
}

.more__btn::after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(5rem, 15rem);
}

.more__btn:hover {
    box-shadow: 0 0 15px rgba(0, 113, 255, 0.7);
    transition: all ease 0.3s;
    color: #fff;
    text-decoration: none;
}

.more__btn:focus::after,
.more__btn:hover::after {
    animation: sheen 0.8s forwards;
}

.more__btn:focus {
    outline: 0;
}

.more__btn:disabled {
    opacity: 0.5;
}

.more__btn:hover:disabled {
    box-shadow: none;
}

.area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(177, 195, 250, .4);
    animation: flyup 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

/* Gallery */
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__wrapper {
        width: 100%;
        max-width: px-to-rem(500);
        margin: 0 auto;
        padding: 0 15px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: solid 1px #dbdbdb;
        margin-bottom: px-to-rem(20);

        &:nth-child(8n) {
            border: none;
            margin-bottom: 0;
        }

        &__image {
            position: relative;
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__stamp {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.mouse {
    @include bgGradient;
    position: relative;
    width: $widthMouse;
    height: $heightMouse;
    border-radius: 100px;
    background-size: 100% 200%;
    animation: colorSlide $animDuration linear infinite,
        nudgeMouse $animDuration ease-out infinite;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    &:before {
        width: $widthMouse - $borderMouse;
        height: $heightMouse - $borderMouse;
        background-color: $colorBg;
        border-radius: 100px;
    }

    &:after {
        background-color: $colorOutline;
        width: $sizeTrackball;
        height: $sizeTrackball;
        border-radius: 100%;
        animation: trackBallSlide $animDuration linear infinite;
    }
}

.contact__form {
    display: flex;
    flex-direction: column;
    border: solid 1px #dbdbdb;
    border-radius: px-to-rem(15);
    margin-bottom: px-to-rem(30);
    background-color: #fff;
    padding: px-to-rem(30);

    h4 {
        font-size: px-to-rem(30);
        margin-top: 0;
        margin-bottom: px-to-rem(30);
    }

    form {
        width: 100%;
        display: flex;
        gap: px-to-rem(20);
        flex-direction: column;
    }
}

input {
    outline: 0;
    border: solid 1px #dbdbdb;
    padding: 16px 16px;
    border-radius: 8px;

    &:focus {
        border: solid 1px #5094de;
    }
}

.bg__forms {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.circle_bg {
    width: 800px;
    height: 800px;
    border-radius: 100px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    transform: translate(-40%, -20vh) rotate(60deg);
}

.circle_mid {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    border-radius: 100px;
    background-image: linear-gradient(35deg, #f5f7fa 0%, #c3cfe2 100%);
    transform: translate(40%, -20vh) rotate(60deg);
}

.header {
    z-index: 99;

    &__block {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include _768 {
            border-bottom: solid 1px #006aff;
        }
    }

    .logo {
        width: 100%;
        max-width: 200px;

        img {
            width: 100%;
        }
    }
}

.block__title {
    margin: 0 0 50px;
    font-size: 30px;
    text-align: center;
}
